[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
coloredlogs = "*"
boto3 = "*"
requests_oauthlib = "*"
attrs = "*"
requests = "*"

[dev-packages]
ipdb = "*"

[requires]
python_version = "3.13"
